In [1]:
import pandas as pd
# lon: boylam 26 - 45
# lat: enlem 36 - 42
df = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TÄ°K2\\Flight\\Data\\states_2021-12-06-23.csv') # Use Tab to separate
df

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1638831600,a48c07,53.370209,10.209516,238.707005,208.442929,0.00000,UPS291,False,False,False,3526.0,12199.62,11833.86,1.638832e+09,1.638832e+09
1,1638831600,ac2706,42.743271,-87.731823,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10607.04,1.638832e+09,1.638832e+09
2,1638831600,34210d,52.829807,11.069667,140.857172,223.076059,0.00000,SWT2KR,False,False,False,1341.0,6713.22,6469.38,1.638832e+09,1.638832e+09
3,1638831610,43be94,50.902451,127.671432,184.966765,170.878252,-8.45312,SVR349,False,False,False,NaN,4305.30,4160.52,1.638832e+09,1.638832e+09
4,1638831610,a9c508,30.889737,-101.092236,240.784524,279.220824,0.00000,AAL1536,False,False,False,5711.0,10972.80,11323.32,1.638830e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131123,1638835190,ac20a1,NaN,NaN,NaN,NaN,NaN,SWA4706,False,False,False,NaN,NaN,NaN,NaN,1.638835e+09
2131124,1638835190,abef16,41.064288,-90.707307,268.043097,84.934997,-5.20192,SWA6258,False,False,False,617.0,7307.58,7178.04,1.638835e+09,1.638835e+09
2131125,1638835190,42498d,59.997781,48.072641,233.968543,70.608882,0.00000,AFL1512,False,False,False,NaN,10675.62,10195.56,1.638835e+09,1.638835e+09
2131126,1638835190,a7a60e,35.429718,-80.983601,113.319064,177.137595,-3.90144,JIA5310,False,False,False,6251.0,1485.90,1478.28,1.638835e+09,1.638835e+09
2131127,1638835190,abb9b2,37.268463,-95.272093,200.098217,251.565051,0.00000,SWA2317,False,False,False,2127.0,8534.40,8656.32,1.638835e+09,1.638835e+09

In [3]:
df_turkey = df[(df.lon < 45) & (df.lon > 26) & (df.lat < 42) & (df.lat > 36)]
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
686,1638831610,8964a8,41.104835,33.857616,256.374859,118.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09
918,1638831610,4a08e6,39.401442,29.834106,200.615352,162.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09
948,1638831610,4baa7a,40.698946,28.927314,186.580832,156.262073,8.77824,THY7LF,False,False,False,NaN,5349.24,5402.58,1.638832e+09,1.638832e+09
1469,1638831610,4baa92,40.952283,28.684928,138.401691,172.954231,8.77824,THY7KA,False,False,False,NaN,3337.56,3368.04,1.638832e+09,1.638832e+09
1581,1638831610,48418a,38.938248,28.090966,227.777307,130.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130517,1638835190,3c6711,37.490426,26.739708,234.190143,139.275841,0.32512,DLH638,False,False,False,4350.0,12489.18,12504.42,1.638835e+09,1.638835e+09
2130607,1638835190,4baa08,39.625809,27.576520,182.380375,209.023209,0.32512,THY1BD,False,False,False,NaN,9128.76,9182.10,1.638835e+09,1.638835e+09
2130688,1638835190,4bb1e7,40.125000,33.864746,267.067794,96.303628,0.00000,THY8YT,False,False,False,5154.0,12496.80,12603.48,1.638835e+09,1.638835e+09
2130965,1638835190,89617b,41.560959,32.771655,254.175947,109.755232,0.00000,UAE34,False,False,False,5173.0,11887.20,11971.02,1.638835e+09,1.638835e+09
2131043,1638835190,4bb270,41.076370,28.664124,144.855044,172.243998,11.05408,THY4EP,False,False,False,NaN,2880.36,2903.22,1.638835e+09,1.638835e+09