In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import time
import os
import glob

# df1 = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-23.csv') # Use Tab to separate
# df2 = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-22.csv') # Use Tab to separate
# df3 = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-21.csv') # Use Tab to separate
# df4 = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-20.csv') # Use Tab to separate

# frames = [df1, df2, df3, df4]
# df = pd.concat(frames)
# df.sort_values("time")
# df

In [3]:
# use glob to get all the csv files
# in the folder
path = "C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\"
csv_files = glob.glob(os.path.join(path, "*.csv"))

# print(csv_files)

In [4]:
file_dict = {}
counter = 1
for file in csv_files:
    df = pd.read_csv(file)
    file_dict[counter] = df
    counter += 1

In [5]:
df = pd.concat(file_dict)
df.reset_index(drop=True, inplace=True)
df["label"] = 1
df.sort_values("time")

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact,label
0,1638820800,394c0c,52.173615,4.802246,125.945306,184.685900,15.28064,AFR83UG,False,False,False,1000.0,1859.28,1714.50,1.638821e+09,1.638821e+09,1
1,1638820800,3c618b,45.726746,5.671759,226.887885,51.259036,0.32512,TUI8L,False,False,False,2322.0,11582.40,11506.20,1.638821e+09,1.638821e+09,1
2,1638820800,345043,46.343544,6.402969,168.433868,315.618721,0.00000,VLG8149,False,False,False,1000.0,9761.22,9677.40,1.638821e+09,1.638821e+09,1
3,1638820800,4d2237,47.226733,7.991920,241.157388,157.154488,5.85216,RYR4H,False,False,False,106.0,11315.70,11163.30,1.638821e+09,1.638821e+09,1
4,1638820800,02a041,45.816147,5.480838,165.884061,328.182965,0.00000,XRC110,False,False,False,1000.0,10363.20,10271.76,1.638821e+09,1.638821e+09,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9412332,1638835190,a0960c,28.387390,-80.449765,232.433633,158.716664,0.00000,JIT316,False,False,False,2637.0,10363.20,10828.02,1.638835e+09,1.638835e+09,1
9412331,1638835190,aa64ca,41.874573,-72.824062,179.820072,239.767161,0.00000,AAL1417,False,False,False,1372.0,7315.20,7307.58,1.638835e+09,1.638835e+09,1
9412330,1638835190,ab0091,33.633666,-117.974052,34.225028,132.563352,1.30048,N808LB,False,False,False,NaN,182.88,175.26,1.638835e+09,1.638835e+09,1
9412394,1638835190,aaadf8,31.781120,-97.073065,238.262560,150.224430,0.00000,SWA940,False,False,False,6554.0,11887.20,12207.24,1.638835e+09,1.638835e+09,1
9416102,1638835190,abb9b2,37.268463,-95.272093,200.098217,251.565051,0.00000,SWA2317,False,False,False,2127.0,8534.40,8656.32,1.638835e+09,1.638835e+09,1

In [ ]:
uniqueValues = (df['icao24']).unique()

In [6]:
for i in range(0, len(uniqueValues)):
    for j in range(0, len(df)):
        if( df['icao24'].iloc [j] == uniqueValues[i]):
            df['icao24'].iloc [j] = i + 1 
            
df

In [ ]:
for i in range(0, len(uniqueValues)):
    winners = df.loc[df['icao24'] == uniqueValues[i]]
    winners.head()