In [100]:
import pandas as pd
from datetime import datetime
import time

df = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TÄ°K2\\Flight\\Data\\states_2021-12-06-23.csv') # Use Tab to separate
df

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1638831600,a48c07,53.370209,10.209516,238.707005,208.442929,0.00000,UPS291,False,False,False,3526.0,12199.62,11833.86,1.638832e+09,1.638832e+09
1,1638831600,ac2706,42.743271,-87.731823,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10607.04,1.638832e+09,1.638832e+09
2,1638831600,34210d,52.829807,11.069667,140.857172,223.076059,0.00000,SWT2KR,False,False,False,1341.0,6713.22,6469.38,1.638832e+09,1.638832e+09
3,1638831610,43be94,50.902451,127.671432,184.966765,170.878252,-8.45312,SVR349,False,False,False,NaN,4305.30,4160.52,1.638832e+09,1.638832e+09
4,1638831610,a9c508,30.889737,-101.092236,240.784524,279.220824,0.00000,AAL1536,False,False,False,5711.0,10972.80,11323.32,1.638830e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131123,1638835190,ac20a1,NaN,NaN,NaN,NaN,NaN,SWA4706,False,False,False,NaN,NaN,NaN,NaN,1.638835e+09
2131124,1638835190,abef16,41.064288,-90.707307,268.043097,84.934997,-5.20192,SWA6258,False,False,False,617.0,7307.58,7178.04,1.638835e+09,1.638835e+09
2131125,1638835190,42498d,59.997781,48.072641,233.968543,70.608882,0.00000,AFL1512,False,False,False,NaN,10675.62,10195.56,1.638835e+09,1.638835e+09
2131126,1638835190,a7a60e,35.429718,-80.983601,113.319064,177.137595,-3.90144,JIA5310,False,False,False,6251.0,1485.90,1478.28,1.638835e+09,1.638835e+09
2131127,1638835190,abb9b2,37.268463,-95.272093,200.098217,251.565051,0.00000,SWA2317,False,False,False,2127.0,8534.40,8656.32,1.638835e+09,1.638835e+09

In [81]:
# df["callsign"] = df["callsign"].astype('string')
# df.dtypes
# df["time"] = df["time"].astype('int')
# df.dtypes

In [96]:
deneme = df["callsign"].loc[1]
deneme

'UAL2375 '

In [97]:
df_UPS291 = df[df["callsign"] == deneme]
df_UPS291

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
1,1638831600,ac2706,42.743271,-87.731823,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10607.04,1.638832e+09,1.638832e+09
1237,1638831610,ac2706,42.740707,-87.756792,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
6086,1638831620,ac2706,42.738373,-87.779451,189.525666,262.199812,0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
15289,1638831630,ac2706,42.736130,-87.801923,190.035363,262.220863,-0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
15945,1638831640,ac2706,42.733744,-87.825793,190.545085,262.241801,-0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2102935,1638835150,ac2706,41.789339,-95.725857,186.550333,259.030925,0.00000,UAL2375,False,False,False,3071.0,10972.80,10828.02,1.638835e+09,1.638835e+09
2109750,1638835160,ac2706,41.786034,-95.748468,186.244360,258.690068,0.32512,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09
2118625,1638835170,ac2706,41.782775,-95.770377,186.144152,258.845340,0.32512,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09
2120779,1638835180,ac2706,41.779609,-95.792031,186.144152,258.845340,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09
2129518,1638835190,ac2706,41.776397,-95.813939,185.442613,259.126480,0.00000,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09

In [92]:
df_UPS291_a = df_UPS291.sort_index(inplace=True)
df_UPS291_a

In [98]:
time.strftime("%D %H:%M", time.localtime(df_UPS291["time"].iloc[0]))

'12/07/21 02:00'

In [99]:
df_UPS291_deneme = df_UPS291
for i in range(0, len(df_UPS291)):
    time_type =  time.strftime("%D %X", time.localtime(df_UPS291["time"].iloc[i]))
    df_UPS291_deneme["time"].iloc[i] = time_type
    
df_UPS291_deneme

C:\Users\ncevik\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\ncevik\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
1,12/07/21 02:00:00,ac2706,42.743271,-87.731823,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10607.04,1.638832e+09,1.638832e+09
1237,12/07/21 02:00:10,ac2706,42.740707,-87.756792,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
6086,12/07/21 02:00:20,ac2706,42.738373,-87.779451,189.525666,262.199812,0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
15289,12/07/21 02:00:30,ac2706,42.736130,-87.801923,190.035363,262.220863,-0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
15945,12/07/21 02:00:40,ac2706,42.733744,-87.825793,190.545085,262.241801,-0.32512,UAL2375,False,False,False,3071.0,10972.80,10599.42,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2102935,12/07/21 02:59:10,ac2706,41.789339,-95.725857,186.550333,259.030925,0.00000,UAL2375,False,False,False,3071.0,10972.80,10828.02,1.638835e+09,1.638835e+09
2109750,12/07/21 02:59:20,ac2706,41.786034,-95.748468,186.244360,258.690068,0.32512,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09
2118625,12/07/21 02:59:30,ac2706,41.782775,-95.770377,186.144152,258.845340,0.32512,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09
2120779,12/07/21 02:59:40,ac2706,41.779609,-95.792031,186.144152,258.845340,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09
2129518,12/07/21 02:59:50,ac2706,41.776397,-95.813939,185.442613,259.126480,0.00000,UAL2375,False,False,False,3071.0,10980.42,10835.64,1.638835e+09,1.638835e+09

In [15]:
df3 = df
callsign = "3c08c9"
feature1 = "icao24"
feature2 = "day"
# df3.groupby([feature1]).get_group(callsign)

In [17]:
obj = df3.groupby([callsign])
den = obj.get_group(callsign)
den

KeyError: 'UPS291'

In [13]:
import pandas as pd

df = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TÄ°K2\\Flight\\Data\\flightlist_20210101_20210131.csv') # Use Tab to separate
df

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,AHO9687,NaN,3c08c9,NaN,NaN,YSSY,NaN,2020-12-31 00:22:04+00:00,2021-01-01 14:51:39+00:00,2021-01-01 00:00:00+00:00,-33.955342,151.178112,0.0,43.188400,8.402050,7376.16
1,ETH726,NaN,040103,ET-ASI,B788,KJFK,LSGG,2020-12-31 02:26:24+00:00,2021-01-01 05:13:38+00:00,2021-01-01 00:00:00+00:00,40.617246,-73.789298,0.0,46.242874,6.116035,480.06
2,LCO1108,UC1108,a4f2d3,N418LA,B763,KMIA,KMIA,2020-12-31 05:52:27+00:00,2021-01-01 04:17:59+00:00,2021-01-01 00:00:00+00:00,25.787845,-80.274249,0.0,25.785278,-80.334066,76.20
3,ABW9515,RU9515,42435f,VP-BJC,G650,VHHH,71KY,2020-12-31 06:22:20+00:00,2021-01-01 01:01:29+00:00,2021-01-01 00:00:00+00:00,22.301548,113.914591,-304.8,39.070316,-84.778931,2202.18
4,ASY052,NaN,495239,CS-TQY,A343,OMDM,YSSY,2020-12-31 06:39:09+00:00,2021-01-01 00:20:57+00:00,2021-01-01 00:00:00+00:00,25.027135,55.380785,0.0,-33.923218,151.170025,-7.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1783379,N2893E,NaN,a2f230,N2893E,NaN,K4SD,KRNO,2021-01-31 23:35:43+00:00,2021-01-31 23:47:52+00:00,2021-01-31 00:00:00+00:00,39.626129,-119.909204,1828.8,39.511957,-119.766724,1310.64
1783380,RLJ320,NaN,a36ebd,N320EJ,NaN,KTMB,KBCT,2021-01-31 23:35:45+00:00,2021-01-31 23:49:24+00:00,2021-01-31 00:00:00+00:00,25.651726,-80.361622,914.4,26.403731,-80.068835,266.70
1783381,N4337V,NaN,a531a4,N4337V,NaN,KMIC,KSGS,2021-01-31 23:36:20+00:00,2021-01-31 23:49:14+00:00,2021-01-31 00:00:00+00:00,45.066833,-93.359201,0.0,44.858505,-92.975268,563.88
1783382,N545DS,NaN,a6eadb,N545DS,NaN,KVUO,WA29,2021-01-31 23:36:30+00:00,2021-01-31 23:46:53+00:00,2021-01-31 00:00:00+00:00,45.619720,-122.651099,0.0,45.922852,-122.734636,640.08
1783383,N350TS,NaN,a3e687,N350TS,NaN,NaN,KCDC,2021-01-31 23:36:37+00:00,2021-01-31 23:47:07+00:00,2021-01-31 00:00:00+00:00,37.414352,-113.255076,2133.6,37.758101,-113.065199,1897.38

In [9]:
df3 = df
callsign = "3c08c9"
feature1 = "icao24"
feature2 = "day"
# df3.groupby([feature1]).get_group(callsign)

In [10]:
# df3.groupby(feature)['day'].count()

In [12]:
obj = df3.groupby([feature1])
den = obj.get_group(callsign)
den

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,AHO9687,NaN,3c08c9,NaN,NaN,YSSY,NaN,2020-12-31 00:22:04+00:00,2021-01-01 14:51:39+00:00,2021-01-01 00:00:00+00:00,-33.955342,151.178112,0.0,43.188400,8.402050,7376.16
27663,AHO9687,NaN,3c08c9,NaN,NaN,NaN,EDDH,2021-01-01 16:30:08+00:00,2021-01-01 17:52:33+00:00,2021-01-01 00:00:00+00:00,43.788990,7.678789,5181.6,53.641399,10.010484,129.54
59053,AHO9189,NaN,3c08c9,NaN,NaN,EDDH,UUWW,2021-01-02 09:12:44+00:00,2021-01-02 11:18:53+00:00,2021-01-02 00:00:00+00:00,53.644425,9.983826,0.0,55.537797,37.015686,982.98
249870,AHO9676,NaN,3c08c9,NaN,NaN,NaN,EGLF,2021-01-05 12:43:45+00:00,2021-01-05 20:19:58+00:00,2021-01-05 00:00:00+00:00,23.710032,57.911630,12192.0,51.274887,-0.779139,7.62
277377,AHO007M,NaN,3c08c9,NaN,NaN,EGLF,EDDN,2021-01-05 21:25:40+00:00,2021-01-05 22:38:19+00:00,2021-01-05 00:00:00+00:00,51.273788,-0.782405,0.0,49.499739,11.067538,327.66
537942,AHO9960,NaN,3c08c9,NaN,NaN,NaN,EGSS,2021-01-10 10:34:03+00:00,2021-01-10 15:50:25+00:00,2021-01-10 00:00:00+00:00,52.631470,65.381165,12192.0,51.904495,0.264130,114.30
707185,AHO9960,NaN,3c08c9,NaN,NaN,NaN,EGSS,2021-01-13 04:48:12+00:00,2021-01-13 06:01:02+00:00,2021-01-13 00:00:00+00:00,49.956848,-12.793651,13716.0,51.901276,0.259120,129.54
843784,AHO550R,NaN,3c08c9,NaN,NaN,EGSS,EIDW,2021-01-15 10:20:59+00:00,2021-01-15 11:06:26+00:00,2021-01-15 00:00:00+00:00,51.887962,0.239182,0.0,53.419922,-6.242981,-7.62
850607,AHO550R,NaN,3c08c9,NaN,NaN,EIDW,LMML,2021-01-15 13:28:24+00:00,2021-01-15 16:27:58+00:00,2021-01-15 00:00:00+00:00,53.420837,-6.260245,0.0,35.817490,14.526958,236.22
973833,AHO9118,NaN,3c08c9,NaN,NaN,LMML,NaN,2021-01-17 17:49:27+00:00,2021-01-17 19:51:53+00:00,2021-01-17 00:00:00+00:00,35.858871,14.476147,304.8,46.596090,30.600494,11887.20
1019550,AHO9118,NaN,3c08c9,NaN,NaN,NaN,RKSI,2021-01-18 14:36:00+00:00,2021-01-18 22:53:23+00:00,2021-01-18 00:00:00+00:00,44.096146,32.550063,11887.2,37.318601,126.586861,914.40
1095682,AHO9966,NaN,3c08c9,NaN,NaN,RKSI,ULLI,2021-01-19 19:49:04+00:00,2021-01-20 17:28:23+00:00,2021-01-20 00:00:00+00:00,37.486702,126.433172,0.0,59.802887,30.198212,99.06
1148919,AHO9966,NaN,3c08c9,NaN,NaN,ULLI,EVRA,2021-01-20 18:51:36+00:00,2021-01-20 19:37:38+00:00,2021-01-20 00:00:00+00:00,59.794860,30.251707,0.0,56.950699,23.975859,205.74
1186041,AHO454A,NaN,3c08c9,NaN,NaN,EVRA,LEMD,2021-01-21 11:52:41+00:00,2021-01-21 15:35:58+00:00,2021-01-21 00:00:00+00:00,56.912064,23.969507,304.8,40.520096,-3.574768,609.60
1522423,AHO9789,NaN,3c08c9,NaN,NaN,LEMD,EDMO,2021-01-27 11:46:41+00:00,2021-01-27 13:49:41+00:00,2021-01-27 00:00:00+00:00,40.518975,-3.559258,304.8,48.096680,11.303902,647.70

In [ ]:

den = den.groupby([feature2]).count()
den