# Bir Günlük Veri Kümesinin çekilmesi

In [54]:
import pandas as pd
from datetime import datetime
import time

df = pd.read_csv('C:\\Users\\ncevik\\Desktop\\TİK2\\Flight\\Data\\states_2021-12-06-23.csv') # Use Tab to separate
df

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
0,1638831600,a48c07,53.370209,10.209516,238.707005,208.442929,0.00000,UPS291,False,False,False,3526.0,12199.62,11833.86,1.638832e+09,1.638832e+09
1,1638831600,ac2706,42.743271,-87.731823,189.596171,262.045786,-0.32512,UAL2375,False,False,False,3071.0,10980.42,10607.04,1.638832e+09,1.638832e+09
2,1638831600,34210d,52.829807,11.069667,140.857172,223.076059,0.00000,SWT2KR,False,False,False,1341.0,6713.22,6469.38,1.638832e+09,1.638832e+09
3,1638831610,43be94,50.902451,127.671432,184.966765,170.878252,-8.45312,SVR349,False,False,False,NaN,4305.30,4160.52,1.638832e+09,1.638832e+09
4,1638831610,a9c508,30.889737,-101.092236,240.784524,279.220824,0.00000,AAL1536,False,False,False,5711.0,10972.80,11323.32,1.638830e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2131123,1638835190,ac20a1,NaN,NaN,NaN,NaN,NaN,SWA4706,False,False,False,NaN,NaN,NaN,NaN,1.638835e+09
2131124,1638835190,abef16,41.064288,-90.707307,268.043097,84.934997,-5.20192,SWA6258,False,False,False,617.0,7307.58,7178.04,1.638835e+09,1.638835e+09
2131125,1638835190,42498d,59.997781,48.072641,233.968543,70.608882,0.00000,AFL1512,False,False,False,NaN,10675.62,10195.56,1.638835e+09,1.638835e+09
2131126,1638835190,a7a60e,35.429718,-80.983601,113.319064,177.137595,-3.90144,JIA5310,False,False,False,6251.0,1485.90,1478.28,1.638835e+09,1.638835e+09
2131127,1638835190,abb9b2,37.268463,-95.272093,200.098217,251.565051,0.00000,SWA2317,False,False,False,2127.0,8534.40,8656.32,1.638835e+09,1.638835e+09

# Türkiye'nin üzerinden geçen uçuşların seçilmesi

# lon: boylam 26 - 45
# lat: enlemv 36 - 42

In [55]:
df_turkey = df[(df.lon < 45) & (df.lon > 26) & (df.lat < 42) & (df.lat > 36)]
df_turkey.dropna()
df_turkey

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
686,1638831610,8964a8,41.104835,33.857616,256.374859,118.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09
918,1638831610,4a08e6,39.401442,29.834106,200.615352,162.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09
948,1638831610,4baa7a,40.698946,28.927314,186.580832,156.262073,8.77824,THY7LF,False,False,False,NaN,5349.24,5402.58,1.638832e+09,1.638832e+09
1469,1638831610,4baa92,40.952283,28.684928,138.401691,172.954231,8.77824,THY7KA,False,False,False,NaN,3337.56,3368.04,1.638832e+09,1.638832e+09
1581,1638831610,48418a,38.938248,28.090966,227.777307,130.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130517,1638835190,3c6711,37.490426,26.739708,234.190143,139.275841,0.32512,DLH638,False,False,False,4350.0,12489.18,12504.42,1.638835e+09,1.638835e+09
2130607,1638835190,4baa08,39.625809,27.576520,182.380375,209.023209,0.32512,THY1BD,False,False,False,NaN,9128.76,9182.10,1.638835e+09,1.638835e+09
2130688,1638835190,4bb1e7,40.125000,33.864746,267.067794,96.303628,0.00000,THY8YT,False,False,False,5154.0,12496.80,12603.48,1.638835e+09,1.638835e+09
2130965,1638835190,89617b,41.560959,32.771655,254.175947,109.755232,0.00000,UAE34,False,False,False,5173.0,11887.20,11971.02,1.638835e+09,1.638835e+09
2131043,1638835190,4bb270,41.076370,28.664124,144.855044,172.243998,11.05408,THY4EP,False,False,False,NaN,2880.36,2903.22,1.638835e+09,1.638835e+09

# Unix timestamp'in saat ve tarihe çevrilmesi

In [56]:
for i in range(0, len(df_turkey)):
    time_type =  time.strftime("%D %X", time.localtime(df_turkey["time"].iloc[i]))
    df_turkey["time"].iloc[i] = time_type
    
df_turkey

C:\Users\ncevik\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\ncevik\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\indexing.py:1965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj._check_is_chained_assignment_possible()

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
686,12/07/21 02:00:10,8964a8,41.104835,33.857616,256.374859,118.004857,0.00000,UAE58,False,False,False,7357.0,11277.60,11407.14,1.638832e+09,1.638832e+09
918,12/07/21 02:00:10,4a08e6,39.401442,29.834106,200.615352,162.540797,0.00000,ROT4103,False,False,False,4153.0,11879.58,11986.26,1.638832e+09,1.638832e+09
948,12/07/21 02:00:10,4baa7a,40.698946,28.927314,186.580832,156.262073,8.77824,THY7LF,False,False,False,NaN,5349.24,5402.58,1.638832e+09,1.638832e+09
1469,12/07/21 02:00:10,4baa92,40.952283,28.684928,138.401691,172.954231,8.77824,THY7KA,False,False,False,NaN,3337.56,3368.04,1.638832e+09,1.638832e+09
1581,12/07/21 02:00:10,48418a,38.938248,28.090966,227.777307,130.236358,0.32512,KLM461,False,False,False,4151.0,11894.82,11917.68,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130517,12/07/21 02:59:50,3c6711,37.490426,26.739708,234.190143,139.275841,0.32512,DLH638,False,False,False,4350.0,12489.18,12504.42,1.638835e+09,1.638835e+09
2130607,12/07/21 02:59:50,4baa08,39.625809,27.576520,182.380375,209.023209,0.32512,THY1BD,False,False,False,NaN,9128.76,9182.10,1.638835e+09,1.638835e+09
2130688,12/07/21 02:59:50,4bb1e7,40.125000,33.864746,267.067794,96.303628,0.00000,THY8YT,False,False,False,5154.0,12496.80,12603.48,1.638835e+09,1.638835e+09
2130965,12/07/21 02:59:50,89617b,41.560959,32.771655,254.175947,109.755232,0.00000,UAE34,False,False,False,5173.0,11887.20,11971.02,1.638835e+09,1.638835e+09
2131043,12/07/21 02:59:50,4bb270,41.076370,28.664124,144.855044,172.243998,11.05408,THY4EP,False,False,False,NaN,2880.36,2903.22,1.638835e+09,1.638835e+09

# Callsign'e göre bir günde kaç farklı uçağın geçtiğinin hesaplanması

In [57]:
uniqueValues = (df_turkey['callsign']).unique()
len(uniqueValues)
uniqueValues

array(['UAE58   ', 'ROT4103 ', 'THY7LF  ', 'THY7KA  ', 'KLM461  ',
       'BBG461  ', 'SXS3U   ', 'QSM2215 ', 'THY6113 ', 'THY5QB  ',
       'MSR745  ', 'RHH422  ', 'THY9TJ  ', 'THY6235 ', 'THY368  ',
       'EGT201  ', 'UAE52   ', 'THY260  ', 'THY9VN  ', 'ROT154D ',
       'UAE32   ', 'THY9CU  ', nan, 'THY6282 ', 'SXS96W  ', 'THY60   ',
       'THY726  ', 'ISR854  ', 'ELY318  ', 'OMA102  ', 'THY346  ',
       'MNB346  ', 'LWA100  ', 'THY4NT  ', 'THY54   ', 'THY686  ',
       'THY2BN  ', 'UAE13U  ', 'QTR09B  ', 'AIZ512  ', 'THY12K  ',
       'ETD69K  ', 'UPS278  ', 'THY58X  ', 'UAE9249 ', 'CHG508  ',
       'THY83   ', 'QTR8248 ', 'MSR981  ', 'THY2JM  ', 'ELY2374 ',
       'THY8YT  ', 'ETH574  ', 'THY6174 ', 'THY2LR  ', 'BRQ115  ',
       'THY24   ', 'THY629  ', 'THY68   ', 'THY748  ', 'VTI022  ',
       'BOX527  ', 'THY1WZ  ', 'FDB7WQ  ', 'THY1BD  ', 'MSR5541 ',
       'THY4VM  ', 'ART3178 ', 'DLH682  ', 'THY8ZV  ', 'THY43C  ',
       'THY730  ', 'THY162  ', 'UAE92   ', 'HVN30   ', 'THY198  ',
       'UAE93P  ', 'BAW105  ', 'THY176  ', 'QTR8889 ', 'UAE34   ',
       'THY223  ', 'DLH638  ', 'KLM833  ', 'THY8CE  ', 'FDB2KH  ',
       'THY4EP  ', 'SDM5551 ', 'ITY810  ', 'THY6120 ', 'AAL145  '],
      dtype=object)

In [58]:
uniqueValues = (df_turkey['icao24']).unique()
len(uniqueValues)
uniqueValues
#aa3487

array(['8964a8', '4a08e6', '4baa7a', '4baa92', '48418a', '4d22ac',
       '4bccad', '731a2e', '4bb144', '4bb063', '010209', '4bca63',
       '4bb26c', '4ba892', '4ba9c3', '451c29', '89621b', '4bb282',
       '4ba94a', '4a08e9', '896474', '4bb286', '42424b', '4ba9f6',
       '4bccab', '4bb1c6', '4ba9cd', '49d232', '738102', '70c0f9',
       '4bb274', '4bb467', '018090', '4bb26a', '4bb18a', '4bab30',
       '4ba932', '896478', '06a2e2', '738444', '4ba9ce', '896408',
       'a7f7fc', '896218', '4baac7', '448465', '4ba956', '44cca1',
       '0101e0', '4baa09', '73806d', '4bb1e7', '040047', '4bb146',
       '4bb281', '01801f', '4bb18e', '4ba9e5', '4ba9c4', '4ba9da',
       '8013c2', '3c4587', '4ba9c1', '89656b', '4baa08', '0100a7',
       '4bb267', '502ccc', '3c6747', '4baa0c', '4ba9d3', '4bb141',
       '4ba947', '896481', '8880f7', '4bb181', '8964e2', '4078b8',
       '4ba9e8', '06a30b', '89617b', '4bb183', '4243f2', '3c6711',
       '4851f5', '4ba996', '8964d4', '4bb270', '3000d0', '4bb1e3',
       'aa7082'], dtype=object)

In [59]:
df_turkey_uni = df_turkey[df_turkey["icao24"] == uniqueValues[0]]
df_turkey_uni

,time,icao24,lat,lon,velocity,heading,vertrate,callsign,onground,alert,spi,squawk,baroaltitude,geoaltitude,lastposupdate,lastcontact
686,12/07/21 02:00:10,8964a8,41.104835,33.857616,256.374859,118.004857,0.00000,UAE58,False,False,False,7357.0,11277.6,11407.14,1.638832e+09,1.638832e+09
6548,12/07/21 02:00:20,8964a8,41.094498,33.883240,256.374859,118.004857,0.32512,UAE58,False,False,False,7357.0,11277.6,11407.14,1.638832e+09,1.638832e+09
15354,12/07/21 02:00:30,8964a8,41.082909,33.912111,256.829179,117.950969,0.00000,UAE58,False,False,False,7357.0,11277.6,11407.14,1.638832e+09,1.638832e+09
16075,12/07/21 02:00:40,8964a8,41.074064,33.934146,256.829179,117.950969,-0.32512,UAE58,False,False,False,7357.0,11277.6,11407.14,1.638832e+09,1.638832e+09
22182,12/07/21 02:00:50,8964a8,41.074064,33.934146,256.829179,117.950969,-0.32512,UAE58,False,False,False,7357.0,11277.6,11407.14,1.638832e+09,1.638832e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433823,12/07/21 02:12:10,8964a8,40.678323,35.046636,265.206236,106.220194,0.00000,UAE58,False,False,True,2717.0,11277.6,11414.76,1.638832e+09,1.638832e+09
441173,12/07/21 02:12:20,8964a8,40.678323,35.046636,265.206236,106.220194,0.00000,UAE58,False,False,True,2717.0,11277.6,11414.76,1.638832e+09,1.638832e+09
451334,12/07/21 02:12:30,8964a8,40.678323,35.046636,265.206236,106.220194,0.00000,UAE58,False,False,True,2717.0,11277.6,11414.76,1.638832e+09,1.638832e+09
453048,12/07/21 02:12:40,8964a8,40.678323,35.046636,265.206236,106.220194,0.00000,UAE58,False,False,True,2717.0,11277.6,11414.76,1.638832e+09,1.638832e+09
460042,12/07/21 02:12:50,8964a8,40.678323,35.046636,265.206236,106.220194,0.00000,UAE58,False,False,True,2717.0,11277.6,11414.76,1.638832e+09,1.638832e+09

In [60]:
# lat, lon ve time kolonlarını bir hücrede birleştirme (vektör olarak ifade etme)
lat_arr = df_turkey_uni["lat"].to_numpy()
lon_arr = df_turkey_uni["lon"].to_numpy()
time_arr = df_turkey_uni["time"].to_numpy()

In [47]:
column_names = ["icao24", "lat", "lon", "time"]
df_deneme = pd.DataFrame(columns = column_names)

In [49]:
df_deneme.at[0, 'icao24'] = uniqueValues[0]
df_deneme

   icao24  lat  lon time
0  8964a8  NaN  NaN  NaN

In [52]:
df_deneme.at[0, 'lat'] = lat_arr
df_deneme.at[0, 'lon'] = lon_arr
df_deneme.at[0, 'time'] = time_arr

In [53]:
df_deneme

,icao24,lat,lon,time
0,8964a8,"[41.1048346050715, 41.09449768066406, 41.08290...","[33.85761607776988, 33.88323974609375, 33.9121...","[12/07/21 02:00:10, 12/07/21 02:00:20, 12/07/2..."

In [21]:
len(df_turkey)

12343

In [22]:
deneme = df_turkey.dropna()

In [23]:
len(deneme)

8848

In [11]:
uniqueValues = (df_turkey['squawk']).unique()
uniqueValues

array([7357., 4153.,   nan, 4151., 5546., 7667., 5525., 5555., 5111.,
        201., 7361., 6412., 4146., 4715., 5141., 5332., 6431., 5542.,
       5214., 1160., 5314., 3776., 2363., 3235., 5231., 2717., 2730.,
       3640., 3444., 2371., 4131., 6435., 7360., 4145., 5110.,  146.,
       2360., 5230., 7662., 7353., 2337., 5176., 3204., 7213.,  111.,
       5152., 1453., 5353., 7605., 6474., 3762., 5660., 1025., 5123.,
       6442.,  775., 2357., 5222., 2313., 5130., 5263., 4670., 2102.,
       1361., 5154., 2376., 5144., 2261., 2630., 7340., 5167., 4354.,
       5142.,  413., 7657., 4413., 5016., 2105., 2305., 5245., 2354.,
        714., 3506., 5173., 4350., 5366., 5146., 2370., 5343., 4760.,
       1272., 5103., 7212.])

In [12]:
len(uniqueValues)

93

# Görselleştirme

In [24]:
#IMPORT PLOTTING LIBRARIES
from bokeh.plotting import figure, show
from bokeh.tile_providers import get_provider,STAMEN_TERRAIN
from bokeh.models import HoverTool,LabelSet,ColumnDataSource
import numpy as np

#FUNCTION TO CONVERT GCS WGS84 TO WEB MERCATOR
#POINT
def wgs84_web_mercator_point(lon,lat):
    k = 6378137
    x= lon * (k * np.pi/180.0)
    y= np.log(np.tan((90 + lat) * np.pi/360.0)) * k
    return x,y

#DATA FRAME
def wgs84_to_web_mercator(df, lon="lon", lat="lat"):
    k = 6378137
    df["x"] = df[lon] * (k * np.pi/180.0)
    df["y"] = np.log(np.tan((90 + df[lat]) * np.pi/360.0)) * k
    return df

# lon: boylam 26 - 45
# lat: enlemv 36 - 42

lon_min = 26
lon_max = 45
lat_min = 36
lat_max = 42

flight_df = deneme

#COORDINATE CONVERSION
xy_min=wgs84_web_mercator_point(lon_min,lat_min)
xy_max=wgs84_web_mercator_point(lon_max,lat_max)
wgs84_to_web_mercator(flight_df)
# flight_df['rot_angle']=flight_df['true_track']*-1 #Rotation angle
icon_url='https://.....' #Icon url
flight_df['url']=icon_url


#FIGURE SETTING
x_range,y_range=([xy_min[0],xy_max[0]], [xy_min[1],xy_max[1]])
p=figure(x_range=x_range,y_range=y_range,x_axis_type='mercator',y_axis_type='mercator',sizing_mode='scale_width',plot_height=300)

#PLOT BASEMAP AND AIRPLANE POINTS
flight_source=ColumnDataSource(flight_df)
tile_prov=get_provider(STAMEN_TERRAIN)
p.add_tile(tile_prov,level='image')
p.image_url(url='url', x='x', y='y',source=flight_source,anchor='center',h_units='screen',w_units='screen',w=40,h=40)
p.circle('x','y',source=flight_source,fill_color='red',hover_color='yellow',size=10,fill_alpha=0.8,line_width=0)

#HOVER INFORMATION AND LABEL
my_hover=HoverTool()
my_hover.tooltips=[('Call sign','@callsign'),('velocity(m/s)','@velocity'),('Altitude(m)','@baroaltitude')]
labels = LabelSet(x='x', y='y', text='callsign', level='glyph',
            x_offset=5, y_offset=5, source=flight_source, render_mode='canvas',background_fill_color='white',text_font_size="8pt")
p.add_tools(my_hover)
p.add_layout(labels)

show(p)

C:\Users\ncevik\AppData\Local\Temp/ipykernel_2324/809068158.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["x"] = df[lon] * (k * np.pi/180.0)
C:\Users\ncevik\AppData\Local\Temp/ipykernel_2324/809068158.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["y"] = np.log(np.tan((90 + df[lat]) * np.pi/360.0)) * k
C:\Users\ncevik\AppData\Local\Temp/ipykernel_2324/809068158.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flight_df['url']=icon_url

In [19]:
'''
FLIGHT TRACKING WITH PYTHON AND OPEN AIR TRAFFIC DATA
by ideagora geomatics | www.geodose.com | @ideageo
'''
#IMPORT LIBRARY
import requests
import json
import pandas as pd
from bokeh.plotting import figure
from bokeh.models import HoverTool,LabelSet,ColumnDataSource
from bokeh.tile_providers import get_provider, STAMEN_TERRAIN
import numpy as np
from bokeh.server.server import Server
from bokeh.application import Application
from bokeh.application.handlers.function import FunctionHandler

#FUNCTION TO CONVERT GCS WGS84 TO WEB MERCATOR
#DATAFRAME
def wgs84_to_web_mercator(df, lon="long", lat="lat"):
    k = 6378137
    df["x"] = df[lon] * (k * np.pi/180.0)
    df["y"] = np.log(np.tan((90 + df[lat]) * np.pi/360.0)) * k
    return df

#POINT
def wgs84_web_mercator_point(lon,lat):
    k = 6378137
    x= lon * (k * np.pi/180.0)
    y= np.log(np.tan((90 + lat) * np.pi/360.0)) * k
    return x,y

#AREA EXTENT COORDINATE WGS84
lon_min,lat_min=-125.974,30.038
lon_max,lat_max=-68.748,52.214

#COORDINATE CONVERSION
xy_min=wgs84_web_mercator_point(lon_min,lat_min)
xy_max=wgs84_web_mercator_point(lon_max,lat_max)

#COORDINATE RANGE IN WEB MERCATOR
x_range,y_range=([xy_min[0],xy_max[0]], [xy_min[1],xy_max[1]])

#REST API QUERY
user_name='ncevik'
password='opensky324'
url_data='https://'+user_name+':'+password+'@opensky-network.org/api/states/all?'+'lamin='+str(lat_min)+'&lomin='+str(lon_min)+'&lamax='+str(lat_max)+'&lomax='+str(lon_max)

    
#FLIGHT TRACKING FUNCTION
def flight_tracking(doc):
    # init bokeh column data source
    flight_source = ColumnDataSource({
        'icao24':[],'callsign':[],'origin_country':[],
        'time_position':[],'last_contact':[],'long':[],'lat':[],
        'baro_altitude':[],'on_ground':[],'velocity':[],'true_track':[],
        'vertical_rate':[],'sensors':[],'geo_altitude':[],'squawk':[],'spi':[],'position_source':[],'x':[],'y':[],
        'rot_angle':[],'url':[]
    })
    
    # UPDATING FLIGHT DATA
    def update():
        response=requests.get(url_data).json()
        
        #CONVERT TO PANDAS DATAFRAME
        col_name=['icao24','callsign','origin_country','time_position','last_contact','long','lat','baro_altitude','on_ground','velocity',       
'true_track','vertical_rate','sensors','geo_altitude','squawk','spi','position_source']
        flight_data=response['states']
        flight_df=pd.DataFrame(flight_data,columns=col_name)
        wgs84_to_web_mercator(flight_df)
        flight_df=flight_df.fillna('No Data')
        flight_df['rot_angle']=flight_df['true_track']*-1
        icon_url='https:...' #icon url
        flight_df['url']=icon_url
        
        # CONVERT TO BOKEH DATASOURCE AND STREAMING
        n_roll=len(flight_df.index)
        flight_source.stream(flight_df.to_dict(orient='list'),n_roll)
        
    #CALLBACK UPATE IN AN INTERVAL
    doc.add_periodic_callback(update, 5000) #5000 ms/10000 ms for registered user . 
     
    #PLOT AIRCRAFT POSITION
    p=figure(x_range=x_range,y_range=y_range,x_axis_type='mercator',y_axis_type='mercator',sizing_mode='scale_width',plot_height=300)
    tile_prov=get_provider(STAMEN_TERRAIN)
    p.add_tile(tile_prov,level='image')
    p.image_url(url='url', x='x', y='y',source=flight_source,anchor='center',angle_units='deg',angle='rot_angle',h_units='screen',w_units='screen',w=40,h=40)
    p.circle('x','y',source=flight_source,fill_color='red',hover_color='yellow',size=10,fill_alpha=0.8,line_width=0)

    #ADD HOVER TOOL AND LABEL
    my_hover=HoverTool()
    my_hover.tooltips=[('Call sign','@callsign'),('Origin Country','@origin_country'),('velocity(m/s)','@velocity'),('Altitude(m)','@baro_altitude')]
    labels = LabelSet(x='x', y='y', text='callsign', level='glyph',
            x_offset=5, y_offset=5, source=flight_source, render_mode='canvas',background_fill_color='white',text_font_size="8pt")
    p.add_tools(my_hover)
    p.add_layout(labels)
    
    doc.title='REAL TIME FLIGHT TRACKING'
    doc.add_root(p)
    
# SERVER CODE
apps = {'/': Application(FunctionHandler(flight_tracking))}
server = Server(apps, port=8084) #define an unused port
server.start()

OSError: [WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted